@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth;
}

#main_container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 30px;
}

@media (width < 1024px) {
  #main_container {
    padding: 0 39px;
  }
}

.heading {
  @apply font-bold text-[30px] lg:text-[22px] text-darkBlue;
}

.input {
  @apply bg-[#EEEEEE] rounded-[6px] py-[1rem] px-[20px] text-darkBlue placeholder:text-[#b4b4b4] focus:outline-none focus:border-[2px] focus:border-darkYellow;
}

/* 
.swiper-slide {
  width: auto !important;
} */

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper {
  width: 100%;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
}

.swiper-slide {
  background-size: cover;
  background-position: center;
}

.mySwiper2 {
  height: 80%;
  width: 100%;
}

.mySwiper {
  height: 20%;
  box-sizing: border-box;
  padding: 10px 0;
}

.mySwiper .swiper-slide {
  width: 25%;
  height: 100%;
}

.mySwiper .swiper-slide-thumb-active {
  border: 3px solid #b6a76c;
  border-radius: 17px;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (width<1024px) {
  .swiper-wrapper {
    justify-content: space-between;
  }
}
